<style>
    @import url("./js/components/loginPageComponent/loginPageComponent.css");
</style>
<div class="container">
    <form id="loginForm" action="#">
        <h1>Login</h1>
        <div class="">
            <input type="mail" name="mail" id="mail" placeholder="Email" required />
        </div>
        <div class="">
            <input type="password" name="pwd" id="pwd" placeholder="Password" required />
        </div>
        <button id="login-btn" class="sub" type="submit">login</button>
    </form>
</div>
<script src="loginPageComponent.js"></script>
