<!DOCTYPE html>

<html lang="en" dir="ltr">
<style>
    @import url("sideBarComponent.css");
</style>

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>


<body>
<div class="sidebar close">
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-joystick' ></i>
                <span class="link_name">username</span>
            </a>

        </li>


        <li>
            <a href="#">
                <i class='bx bx-home-alt' ></i>
                <span class="link_name">Home</span>
            </a>

        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-user' ></i>
                    <span class="link_name">Friends</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">

                <li><a href="#">Friend1</a></li>
                <li><a href="#">Friend2</a></li>
                <li><a href="#">Friend3</a></li>
                <li><a href="#">Friend3</a></li>

            </ul>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-plus' ></i>
                <input class="link_name" id="searchFriend" type="text" placeholder="Add Friend ...">

            </a>

        </li>


        <li>

               <a href="#">
                <i class='bx bx-log-out' ></i>
                <span class="link_name">Logout</span>
            </a>

        </li>
    </ul>
</div>
<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu' ></i>

    </div>
</section>
<script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{
            let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
            arrowParent.classList.toggle("showMenu");
        });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
    });
    const add =document.querySelector(".bx-plus")
    add.addEventListener("click",()=>{
        console.log("add friend");
        const friend = document.getElementById("searchFriend");
        console.log(friend);
        console.log(friend.value);
    })
</script>
</body>
</html>
