<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.cordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Scheme" value="http"/>
    <platform name="android">
        <splash src="res/screen/android/splash-land-hdpi.png" density="port-hdpi" />
        <splash src="res/screen/android/splash-land-ldpi.png" density="port-ldpi" />
        <splash src="res/screen/android/splash-land-mdpi.png" density="port-mdpi" />
        <splash src="res/screen/android/splash-land-xhdpi.png" density="port-xhdpi" />
        <splash src="res/screen/android/splash-land-xhdpi.png" density="port-xxhdpi" />
        <splash src="res/screen/android/splash-land-xhdpi.png" density="port-xxxhdpi" />

        <splash src="res/screen/android/splash-land.png" density="land-hdpi" />
        <splash src="res/screen/android/splash-land.png" density="land-ldpi" />
        <splash src="res/screen/android/splash-land.png" density="land-mdpi" />
        <splash src="res/screen/android/splash-land.png" density="land-xhdpi" />
        <splash src="res/screen/android/splash-land.png" density="land-xxhdpi" />
        <splash src="res/screen/android/splash-land.png" density="land-xxxhdpi" /> 
    </platform>
</widget>
