<!DOCTYPE html>
<html>
<head>
    <title>Popup Box Example</title>
    <style>
        @import url('PopUpComponent.css');
    </style>
</head>
<body onload="openModal()">
<div class="modal" id="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Challenge Request</h2>
        <p>RobLuchiX has challenged you for a matchUp</p>
        <button class="button1">Accept</button>
        <button class="button2">Decline</button>
    </div>
</div>
<script>
    function openModal() {
        document.getElementById("modal").style.display = "block";
    }
    function closeModal() {
        document.getElementById("modal").style.display = "none";
    }
</script>
</body>
</html>
