.waves{
    width: 50vmin;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30vmin;
    /* box-shadow: 0px 0px 40px 40px #000000; */
}

.active-waves{
    animation: waves 2s infinite;
}

@keyframes waves {
    0% {
        width: 50vmin;
        height: 50vh;
        border: 1.5px solid white;
    }
    15% {
        width: 52vmin;
        height: 52vh;
        border: 1.2px solid rgba(255, 255, 255, 0.863);
    }
    30% {
        width: 54vmin;
        height: 54vh;
        border: 0.9px solid rgba(255, 255, 255, 0.705);
    }
    45% {
        width: 56vmin;
        height: 56vh;
        border: 0.7px solid rgba(255, 255, 255, 0.658);
    }
    60% {
        width: 58vmin;
        height: 58vh;
        border: 0.5px solid rgba(255, 255, 255, 0.493);
    }
    75% {
        width: 60vmin;
        height: 60vh;
        border: 0.3px solid rgba(255, 255, 255, 0.247);
    }
    90% {
        width: 61vmin;
        height: 61vh;
        border: 0.1px solid rgba(255, 255, 255, 0.192);
    }
    100% {
        width: 62vmin;
        height: 62vh;
        border: 0.05px solid rgba(255, 255, 255, 0.11);
    }
}

.wrapper{
    width: 50vmin;
    height: 50vh;
}

.card-group{
    width: 50vmin;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes big-card {
    0% {
        width: 50vmin;
        height: 50vh;
        border-radius: 25vmin;
    }
    25% {
        width: 49vmin;
        height: 49vh;
        border-radius: 24.5vmin;
    }
    50% {
        width: 48vmin;
        height: 48vh;
        border-radius: 24vmin;
    }
    75% {
        width: 49vmin;
        height: 49vh;
        border-radius: 24.5vmin;
    }
    100% {
        width: 50vmin;
        height: 50vh;
        border-radius: 25vmin;
    }
}

.card{
    background-color: rgb(255, 255,255,0.05);
    transition: transform 400ms ease;
    position: absolute;
}

.big-card{
    width: 50vmin;
    height: 50vh;
    border-radius: 25vmin !important;
    background-color: white;
    box-shadow: 0px 0px 5px 5px #cccccc7a;
    /* left: 32.7%; */
    animation: big-card 2.9s 2s infinite;
    transition: width 2s, height 2s, transform 2s;
    -webkit-transition: 400ms linear;
    z-index: 100;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.big-card-wrapper{
    width: 45vmin;
    height: 45vh;

    cursor: pointer;

    border-radius: 40vmin;
    background-color: rgb(192, 238, 228);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.big-card-picture{
    width: 60%;
    opacity: 0.5;
}

.big-card-logo{
    width: 70%;
    position: absolute;
}


.little-card{
    position: relative;
    left:0%;
    width: 35vmin;
    height: 7.5vmin;
    border-radius: 1.5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s, height 2s, transform 2s;
    -webkit-transition: 400ms linear;
    box-shadow: 0px 0px 5px 5px #cccccc7a;
    color: rgb(255, 255, 255);
}



.little-card:nth-child(2){
    transform: translateY(-20%) skew(20deg);
    background-color: rgb(134, 200, 188);
}

.little-card:nth-child(2) a{
    display: block;
    transform: skew(-20deg);
    color: inherit;
}

.little-card:nth-child(3){
    transform: translateX(4.5%);
    background-color: rgb(134, 200, 188);
}

.little-card:nth-child(3) a{
    display: block;
}

.little-card:nth-child(4){
    transform: translateY(20%) skew(-20deg);
    background-color: rgb(134, 200, 188);
}

.little-card:nth-child(4) a{
    display: block;
    transform: skew(20deg);
    color: inherit;
}

.little-card a{
    text-decoration: none;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}


.little-card a{
    z-index: -1;
}


@media screen and (max-height: 500px) {

    .little-card:nth-child(2) a {
        font-size: 15px;
    }
    .little-card:nth-child(3) a {
        font-size: 15px;
    }
    .little-card:nth-child(4) a {
        font-size: 15px;
    }

}

@media screen and (max-width: 750px) {

    .big-card-wrapper {
        width: 200px;
        height: 200px;
        cursor: pointer;
    }

    .big-card{
        background-color: #ffffff00;
        box-shadow: 0px 0px 0px 0px #cccccc7a;
    }

    .big-card card{
        left : 20%
    }


    .little-card {
        width: 25vmin;
    }

    .active-waves{
        animation: 2s infinite;
        cursor: pointer;
    }

    .little-card:nth-child(2) a {
        font-size: 15px;
    }
    .little-card:nth-child(3) a {
        font-size: 15px;
    }
    .little-card:nth-child(4) a {
        font-size: 15px;
    }



}

