<style>
  @import url("./js/components/playModeComponent/playModeComponent.css");
</style>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head> -->
<!-- <body> -->
<div>
  <div class="centered">
    <h1 class="title">Choose your game mode</h1>
    <div class="container">
      <button id="vsComputer">Player VS Computer</button>
      <button id="vsPlayer">Player VS Player</button>
      <button id="playOnline">Play Online</button>
    </div>
  </div>
</div>
<!-- </body> -->
<script src="playModeComponent.js"></script>
<!-- </html> -->
