<style>
    @import url("./js/components/profileComponent/profileComponent.css");
</style>
<div class="container">
    <div class="profile">
        <div class="user-info">
            <img src="../profile-picture.jpg" alt="Profile Picture">
            <div class="profile-name">
                <div class="info-element">
                    <h1 class="infos">Username : </h1>
                    <h1 class="infos" id="userName"></h1>
                </div>

                <div class="info-element">
                    <h1 class="infos">Email : </h1>
                    <h1 class="infos" id="email"></h1>
                </div>

                <div>
                    <h1 class="infos">Rank : </h1>
                    <h1 class="infos" id="rank">Diamond 1</h1>
                </div>
            </div>
        </div>
        <div class="stats">
            <div class="stat">
                <h2>Games</h2>
                <p id="games"></p>
            </div>
            <div class="stat">
                <h2>Wins</h2>
                <p id="online-wins">1500</p>
            </div>
        </div>
    </div>
    <div class="history">
        <h2 class="history-title">Game History</h2>
        <div class="history-list">
        <table id="history-table">
            <tr class="history-tab">
                <th>Against</th>
                <th>Result</th>

            </tr>
        </table>
        </div>
    </div>
</div>
