* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile {

    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #fff;

}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-name{
    padding-left: 20px;
}

.profile img {
    float: left;
    margin-right: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;

}

.profile h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.profile p {
    font-size: 24px;
    margin-bottom: 20px;
}

.stats {
    margin-top: 20px;
}

.stat {
    flex-basis: 30%;
    border-radius: 10px;

    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    background: linear-gradient(to right, #9ef1b7, #23be57);

}

.stat h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.stat p {
    font-size: 20px;
    font-weight: bold;
}

.history {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    height: 300px;
    margin-top: 40px;
    box-shadow: 0 0 10px #fff;
    background: #ffffff;

}

.history-list {
    overflow-y: scroll;
    height: 80%;
    box-shadow: 0 0 5px #808080;
}

.history-tab{
    background: #fff900;
}

.history h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}

.history-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
