<style>
    @import url("./js/components/profileComponent/profileComponent.css");
</style>
<div class="title-profile"> Profile </div>
<div class="container">
    <div class="profile">
        <div class="user-info">
            <img class="avatar-img" src="../images/profile-picture.jpg" alt="Profile Picture">
            <div class="profile-name">
                <div class="info-element">
                    <h1 class="infos" id="userName"></h1>
                </div>

                <div class="info-element">
                    <i class="fa-solid fa-envelope"></i>
                    <h1 class="infos" id="email"></h1>
                </div>

                <div class="info-element">
                    <i class="fa-solid fa-star"></i>
                    <h1 class="infos" id="score"></h1>
                </div>
                <div>
                    <i class="fa-solid fa-ranking-star"></i>
                    <h1 class="infos" id="rank"></h1>
                </div>
            </div>
        </div>
        <div class="stats">
            <div class="stat">
                <h2>Games</h2>
                <p id="games"></p>
            </div>
            <div class="stat">
                <h2>Wins</h2>
                <p id="online-wins">1500</p>
            </div>
        </div>
    </div>
    <div class="history">
        <h2 class="history-title">Game History</h2>
        <div class="history-list">
        <table id="history-table">
            <tr class="history-tab">
                <th>Against</th>
                <th>Result</th>

            </tr>
        </table>
        </div>
    </div>
</div>
