<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="profileComponent.css">
</head>
<body>

    <div class="wrapper">
        <div class="left">
            <h2>User Info</h2>
            <br>
            <img src="" alt="user" width="50" height="50">
            <h4>Name: <span id="name"></span></h4>
            <p>Email: <span id="email"></span></p>
        </div>
        <div class="right">
            <div class="info">
                <h3>Friend List</h3>
                <div class="info_data">
                    <div class="friend-list">
                        <ul id="friends">
                            <!-- Friend list will be dynamically generated here -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="projects">
                <h3>Pending invitations</h3>
                <div class="invitation-list">
                    <ul id="invitations">
                        <!-- Pending invitations will be dynamically generated here -->
                    </ul>
                </div>
            </div>

            <div class="social_media">

            </div>
        </div>
    </div>
</body>
<script src="profileComponent.js"></script>
</html>
