.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    height: 100vh;
    justify-content: center;
}

/* Style the form */
form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 500px;
}

/* Style the input fields */
input[type="text"],
input[type="password"] {
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
}

/* Style the heading */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
