<style>
    @import url("loginPageComponent.css");
</style>
<div class="container">

    <form id="loginForm" action="#" onsubmit="login(); return false;">
        <h1>Login</h1>
        <div class="">
            <input type="mail" name="mail" id="mail" placeholder="Email" required />
        </div>
        <div class="">
            <input type="password" name="pwd" id="pwd" placeholder="Password" required />
        </div>
        <button class="sub" type="submit">login</button>
    </form>


</div>
<script src="loginPageComponent.js"></script>

