<style>
    @import url("./js/components/profileComponent/profileComponent.css");
</style>
<div class="container">
    <div class="profile" style="margin-right:0px ">
        <div class="user-info">
            <img class="avatar-img" src="../images/profile-picture.jpg" alt="Profile Picture">
            <div class="profile-name">
                <div class="info-element">
                    <h1 class="infos" id="userName"></h1>
                </div>

                <div class="info-element">
                    <img class="rank-img" src="" alt="Rank Picture">
                    <!--<i class="fa-solid fa-star"></i>-->
                    <h1 class="infos" id="score">Score : </h1>

                </div>
                <div>
                    <!--<i class="fa-solid fa-ranking-star"></i>-->
                    <h1 class="infos" id="rank"></h1>
                </div>
            </div>
        </div>
        <div class="stats">
            <div class="stat">
                <h2>Games</h2>
                <p id="games"></p>
            </div>
            <div class="stat">
                <h2>Wins</h2>
                <p id="online-wins">50</p>
            </div>
            <div class="stat">
                <h2>Tie</h2>
                <p id="tie">25</p>
            </div>
        </div>
        <div class="progressions">
            <div class="trophee-list">
                <table id="progression-table">
                    <thead class="thead">
                    <tr class="history-tab">
                        <th><i class="fa-solid fa-ranking-star"></i>Trophee</th>
                        <th>Mission</th>
                        <th>Progression</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Welcome Abroad </td>
                        <td>Play 10 games </td>
                        <td>
                            <div class="progress-bar">
                                <div class="progress-bar-inner" id ="welcome-abroad" style="width:0%;">0%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Goat </td>
                        <td>Play 100 games </td>
                        <td>
                            <div class="progress-bar">
                                <div class="progress-bar-inner" id="goat" style="width:0%;">0%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Primer</td>
                        <td>Win 15 games</td>
                        <td>
                            <div class="progress-bar">
                                <div class="progress-bar-inner" id = "primer" style="width:0%;">0%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>The Slayer</td>
                        <td>Win 5 consecutive games</td>
                        <td>
                            <div class="progress-bar">
                                <div class="progress-bar-inner" id = "5-games" style="width:0%;">0%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Level Up</td>
                        <td>Reach score of 400</td>
                        <td>
                            <div class="progress-bar">
                                <div class="progress-bar-inner" id = "levelup" style="width:0%;position: center;">0%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Ultimate Goat</td>
                        <td>Reach score of 800</td>
                        <td>
                            <div class="progress-bar">
                                <div class="progress-bar-inner" id="utlimate-goat" style="width:0%;">0%</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
