<style>
    @import url("./js/components/registerPageComponent/registerPageComponent.css");
</style>

<div class="wrapper">
<h1>Register</h1>
<form id="signupForm" action="#">
    <h1>Register</h1>
    <input type="email" name="mail" id="mail" placeholder="Email" required>
    <input type="text" name="username" id="username" placeholder="Username" required>
    <input type="password" name="password" id="pwd" placeholder="Password" required>

    <button id="signup-btn" class="sub" type="submit">Sign up</button>
</form>
</div>

