@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 2px;
    color: black;
    text-align: center;
}

form {
    background-color: white;
    width: 400px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px #BBBBBB;
}



input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 5px #BBBBBB;
    font-size: 20px;
}

.sub {
    width: auto;
    padding: 20px 40px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.sub:hover {
    background-color: #3E8E41;
}

.home-btn {
    width: auto;
    padding: 10px;
    background-color: #fafafa;
    color: #100f0f;
    font-size: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 30px;
}

@media screen and (max-width: 500px) {
    form {
        width: 50%;
        padding: 30px;
    }
    h1 {
        margin-top: 0;
        font-size: 26px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    input[type="text"], input[type="email"], input[type="password"] {
        width: 90%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 12px;
    }
    #signup-btn{
        width: auto;
        height: 40px;
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 12px;
    }

    .home-btn {
        font-size: 15px;
    }
}

@media screen and (max-height: 500px) {
    form {
        padding: 20px;
        height: 250px;
    }

    h1 {
        font-size: 26px;
    }
    input[type="text"], input[type="email"], input[type="password"] {
        padding: 10px;
        font-size: 12px;
    }
    .sub{
        padding: 10px 20px;

    }
}
