<style>
    @import url("gameChatComponent.css");
</style>
<div>
    <div class="chat-container">
        <div class="chat">
            <div class="message"><b>username : </b> <span>message</span></div>
        </div>
        <div class="message-sender">
            <input type="text" class="message-box">
            <button class="send-button">&#x25BA;</button>
        </div>
    </div>
    <button class="chat-open-button" ><img class="chat-icon" src="https://w7.pngwing.com/pngs/237/433/png-transparent-computer-icons-online-chat-chat-icon-miscellaneous-text-conversation.png"></button>
</div>