body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    height: 540px;
    width: 630px;
    background-color: rgb(134, 200, 188);
    /* border: 1px solid navy; */

    margin: 0;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;

    border: 6px solid rgb(10, 100, 73);
    border-radius: 25px;
}

.tile {
    height: 70px;
    width: 80px;
    margin: 2px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 3px solid rgb(10, 100, 73);

}

.red-piece {
    background-color: rgb(255, 158, 158);
}

.yellow-piece {
    background-color: rgb(248, 249, 136);
}

#winner{
    font-size: 48px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #4CAF50;
    text-align: center;
    background-color: transparent;
}
.turn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    position: fixed;
    left: 200px;
    bottom: 350px;
    flex-wrap: nowrap;
    flex-direction: column;
}

.turnPLayer{
    font-size: 48px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #ffffff;
    float: right;
    background-color: #ffffff;
}
.redCircle{
    height: 70px;
    width: 80px;
    margin: 10px;
    background-color: rgb(255, 158, 158);
    border-radius: 50%;
    border: 3px solid rgb(10, 100, 73);
}

.yellowCircle{
    height: 70px;
    width: 80px;
    margin: 10px;
    background-color: rgb(248, 249, 136);
    border-radius: 50%;
    border: 3px solid rgb(10, 100, 73);
}

.home-btn {
    width: auto;
    padding: 10px;
    background-color: #fafafa;
    color: #100f0f;
    font-size: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 30px;
}

@media (max-width: 550px) {
    .home-btn {
        font-size: 15px;
    }
    .tile {
        height: 30px;
        width: 30px;
        margin: 3px;

        /* Circle */
        background-color: white;
        border-radius: 50%;
        border: 3px solid rgb(10, 100, 73);

    }


    #board {
        height: 300px;
        width: 300px;
        background-color: rgb(134, 200, 188);
        /* border: 1px solid navy; */
        /* margin: 10px; */
        margin-left: 30px;
        padding-top: 5px;
        display: flex;
        flex-wrap: wrap;
        border: 6px solid rgb(10, 100, 73);
        border-radius: 25px;
    }
    .turn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #ffffff;
        position: fixed;
        left: 100px;
        bottom: 120px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .turn-text{
        font-size: 30px;

    }
    .redCircle{
        height: 45px;
        width: 45px;
        margin: 1px;
        background-color: rgb(255, 158, 158);
        border-radius: 50%;
        border: 3px solid rgb(10, 100, 73);
    }

    .yellowCircle{
        height: 45px;
        width: 45px;
        margin: 1px;
        background-color: rgb(248, 249, 136);
        border-radius: 50%;
        border: 3px solid rgb(10, 100, 73);
    }
    .red-piece {
        background-color: rgb(255, 158, 158);
    }

    .yellow-piece {
        background-color: rgb(248, 249, 136);
    }

    #winner {
        font-size: 40px;
        font-family: 'Helvetica Neue', sans-serif;
        color: #4CAF50;
        text-align: center;
        background-color: transparent;
        position: fixed;
        top: 100px;
        right: 100px;
    }

}

@media (max-height: 550px) {
    .tile {
        height: 30px;
        width: 30px;
        margin: 3px;

        /* Circle */
        background-color: white;
        border-radius: 50%;
        border: 3px solid rgb(10, 100, 73);

    }


    #board {
        height: 300px;
        width: 300px;
        background-color: rgb(134, 200, 188);
        /* border: 1px solid navy; */
        /* margin: 10px; */
        margin-left: 30px;
        padding-top: 5px;
        display: flex;
        flex-wrap: wrap;
        border: 6px solid rgb(10, 100, 73);
        border-radius: 25px;
    }
    .redCircle{
        height: 45px;
        width: 45px;
        margin: 1px;
        background-color: rgb(255, 158, 158);
        border-radius: 50%;
        border: 3px solid rgb(10, 100, 73);
    }

    .yellowCircle{
        height: 45px;
        width: 45px;
        margin: 1px;
        background-color: rgb(248, 249, 136);
        border-radius: 50%;
        border: 3px solid rgb(10, 100, 73);
    }
    .red-piece {
        background-color: rgb(255, 158, 158);
    }

    .yellow-piece {
        background-color: rgb(248, 249, 136);
    }

    element.style {
    }
    .turn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #ffffff;
        position: fixed;
        left: 130px;
        bottom: 160px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .turn-text{
        font-size: 30px;
    }
    #winner {
        font-size: 30px;
        font-family: 'Helvetica Neue', sans-serif;
        color: #4CAF50;
        text-align: center;
        background-color: transparent;
    }







}




